---
BasedOnStyle: WebKit
ColumnLimit: '80'
ConstructorInitializerIndentWidth: '2'
ContinuationIndentWidth: '2'
IndentWidth: '2'
Language: Cpp
SortIncludes: 'true'
SortUsingDeclarations: 'true'
UseTab: Never
AccessModifierOffset: '-2'
Cpp11BracedListStyle: true
SpaceBeforeCpp11BracedList: false
...
